.tree {
    margin: 0 auto;
}

.block {
    overflow: auto;
    width: 200px;
    cursor: auto;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    padding: 0.5rem;
    background: #3f4246;
    z-index: 2111;
    border-radius: 10px;
}

.block div {
    font-size: 14px;
}

.btns {
    display: flex;
    gap: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 8px;
}

.btn div {
    font-size: 16px;
}

.bold {
    font-weight: 600;
}

.delete div {
    color: #fa5757;
    opacity: 0.7;
}
