.padding-auto {
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
}

.betonen {
    border: 3px solid gray;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.form {
    display: flex;
    gap: 4px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap {
    gap: 8px;
}

.my {
    margin: 8px;
}
