.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper label {
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.labelText {
    width: 120px;
}

.submitWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.saveBtn {
    background: #222325 !important;
}
