.gatewaysInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
