.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
}
.router {
    position: relative;
    padding: 0 1rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    display: inline-flex;
    gap: 2rem;
}

.state {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.on,
.off {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.off {
    background-color: #d03b25;
}

.on {
    background-color: #7fba50;
}

.ports {
    display: flex;
    gap: 8px;
}

.port {
    width: 12px;
    height: 12px;
    background-color: #0d2a4c;
    border-radius: 2px;
}

.activePort {
    background-color: #7fba50;
}

.portWrapper {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
